AuthType Basic
AuthName "Admin"
AuthUserFile /var/www/html/.htpasswd
Require valid-user

Allow from all
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
